.container{
	background-color:white;
	font-family:Fontfigo;
	padding:12px;
	margin-top:7%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	align-items: center;
	border: 0x solid;
	border-radius:12px;
	position:relative;
	width: 260px;
	height:410px;
	font-family: 'Outfit', sans-serif;
	
}

img{
	
	
	border:0px solid;
	border-radius:12px;
}

body{
 background-color:#d5e1ef;
	
}

p{
padding:2px;
font-size:15px;
color:hsl(212,15%,55%);
}
h1
{
padding:2px;
font-size:20px;
}